
<div class="delet-my bg " style="padding-top: 50px;">
  Hogar Barber
</div>
<!--
<div class="elastic-sidebar">
  <svg>
    <path class="s-path" d="M0,0 15,0 a0,250 0 1,1 0,658 L0,658" />
  </svg>
  <div class="elastic-sidebar-box">
    Your content is here
  </div>
</div>
-->

<style>
  @import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);
body{
  font-family: 'helvetica', sans-serif;
}
.delet-my
{
  position: absolute;
  top: 30%;
  right: 0;
  left:0;
  bottom: 0;
  margin: auto;
  max-width: 80%;
  font-size: 100px;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(45deg, #fd3768 33%, #0D61BC 66%, #fd3768);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

</style>

